[submodule "bash/test/bats_helper/bats-support"]
	path = bash/test/bats_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "bash/test/bats_helper/bats-assert"]
	path = bash/test/bats_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "bash/test/bats_helper/bats-file"]
	path = bash/test/bats_helper/bats-file
	url = https://github.com/bats-core/bats-file.git
